<!DOCTYPE html SYSTEM
		"http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ja">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/user/brand/describe.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">TRIANGLE SAUCE</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-ex-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a th:href="@{/brands}">Brands</a>
					</li>
					<li>
						<a href="#">Categories</a>
					</li>
					<li>
						<a href="#">MyPage</a>
					</li>
					<li>
						<a th:href="@{/contact}">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li>
							<a th:href="@{/}">Home</a>
						</li>
						<li>
							<a th:href="@{/brands}">Brands</a>
						</li>
						<li class="active">ETHOSENS</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-primary">ETHOSENS</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section hidden-sm hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<a class="hidden-sm hidden-xs"><img th:src="@{/image/mock/ethosens_1.jpg}" class="center-block img-responsive" /></a>
				</div>
				<div class="col-md-4">
					<a class="hidden-sm hidden-xs"><img th:src="@{/image/mock/ethosens_2.jpg}" class="center-block img-responsive" /></a>
				</div>
				<div class="col-md-4">
					<a class="hidden-sm hidden-xs"><img th:src="@{/image/mock/ethosens_3.jpg}" class="center-block img-responsive" /></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>ETHOSENS(エトセンス)はファッションデザイナー、橋本唯(Yui Hashimoto)氏が展開するブランド。
						2000年エスモード・ジャポン卒業後、YAB-YUM(ヤブヤム)のパタンナー、LOLO(ロロ)パタンナーを経て、2004S/SシーズンよりETHOS(エトス)としての創作活動を開始。
						2007-2008A/Wより改名して、「エトセンス(ETHOSENS)」をスタートする。以降、東京にて年2回のコレクションを発表。
						未来のスタンダードになり得る革新的な表現を目指し、わずかでも世の中に新しい価値観をもたらすことができような、本質的なクリエーションを追求する。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-md-2">
					<a th:href="@{/items/describe/1}"><img th:src="@{/image/mock/item_1.jpg}" class="img-responsive" /></a>
					<h4>モンドリアン交差柄シャツ(Purple)</h4>
					<p>¥27,000</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_2.jpg}" class="img-responsive" />
					<h4>インターシャロングスリーブプルオーバー(Black)</h4>
					<p>¥23,760</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_3.jpg}" class="img-responsive img-rounded" />
					<h4>インターシャロングスリーブプルオーバー(Black)</h4>
					<p>¥66,960</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_4.jpg}" class="img-responsive" />
					<h4 contenteditable="true">モンドリアン交差柄イージーパンツ(Sachs)</h4>
					<p>¥35,640</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_5.jpg}" class="img-responsive" />
					<h4 contenteditable="true">交差ストライプシャツ ビッグ(Sachs)</h4>
					<p>¥33,480</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_6.jpg}" class="img-responsive" />
					<h4 contenteditable="true">マイクロファイバーテープブルゾン(Beige)</h4>
					<p>¥63,720</p>
				</div>
				<div class="row">
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_7.jpg}" class="img-responsive" />
						<h4>デニムバギーパンツ(Indigo)</h4>
						<p>¥30,240</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_8.jpg}" class="img-responsive" />
						<h4>ナイロンバギーパンツ(Green)</h4>
						<p>¥39,960</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_9.jpg}" class="img-responsive img-rounded" />
						<h4>MA-1レイヤードブルゾン(Black)</h4>
						<p>¥70,200</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_10.jpg}" class="img-responsive" />
						<h4>刺子　バギーパンツ</h4>
						<p>¥39,960</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_11.jpg}" class="img-responsive" />
						<h4>ロゴベルト(Black× Gray)</h4>
						<p>¥7,560</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_13.jpg}" class="img-responsive" />
						<h4>テンセルイージーパンツ(Purple)</h4>
						<p>¥30,240</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_1.jpg}" class="img-responsive" />
						<h4>デニムバギーパンツ(Indigo)</h4>
						<p>¥30,240</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_2.jpg}" class="img-responsive" />
						<h4>ナイロンバギーパンツ(Green)</h4>
						<p>¥39,960</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_3.jpg}" class="img-responsive img-rounded" />
						<h4>MA-1レイヤードブルゾン(Black)</h4>
						<p>¥70,200</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_4.jpg}" class="img-responsive" />
						<h4>刺子　バギーパンツ</h4>
						<p>¥39,960</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_5.jpg}" class="img-responsive" />
						<h4>ロゴベルト(Black× Gray)</h4>
						<p>¥7,560</p>
					</div>
					<div class="col-xs-4 col-md-2">
						<img th:src="@{/image/mock/item_6.jpg}" class="img-responsive" />
						<h4>テンセルイージーパンツ(Purple)</h4>
						<p>¥30,240</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_7.jpg}" class="img-responsive" />
					<h4>デニムバギーパンツ(Indigo)</h4>
					<p>¥30,240</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_8.jpg}" class="img-responsive" />
					<h4>ナイロンバギーパンツ(Green)</h4>
					<p>¥39,960</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_9.jpg}" class="img-responsive img-rounded" />
					<h4>MA-1レイヤードブルゾン(Black)</h4>
					<p>¥70,200</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_10.jpg}" class="img-responsive" />
					<h4>刺子　バギーパンツ</h4>
					<p>¥39,960</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_11.jpg}" class="img-responsive" />
					<h4>ロゴベルト(Black× Gray)</h4>
					<p>¥7,560</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_13.jpg}" class="img-responsive" />
					<h4>テンセルイージーパンツ(Purple)</h4>
					<p>¥30,240</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_1.jpg}" class="img-responsive" />
					<h4>デニムバギーパンツ(Indigo)</h4>
					<p>¥30,240</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_2.jpg}" class="img-responsive" />
					<h4>ナイロンバギーパンツ(Green)</h4>
					<p>¥39,960</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_3.jpg}" class="img-responsive img-rounded" />
					<h4>MA-1レイヤードブルゾン(Black)</h4>
					<p>¥70,200</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_4.jpg}" class="img-responsive" />
					<h4>刺子　バギーパンツ</h4>
					<p>¥39,960</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_5.jpg}" class="img-responsive" />
					<h4>ロゴベルト(Black× Gray)</h4>
					<p>¥7,560</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_6.jpg}" class="img-responsive" />
					<h4>テンセルイージーパンツ(Purple)</h4>
					<p>¥30,240</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_7.jpg}" class="img-responsive" />
					<h4>デニムバギーパンツ(Indigo)</h4>
					<p>¥30,240</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_8.jpg}" class="img-responsive" />
					<h4>ナイロンバギーパンツ(Green)</h4>
					<p>¥39,960</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_9.jpg}" class="img-responsive img-rounded" />
					<h4>MA-1レイヤードブルゾン(Black)</h4>
					<p>¥70,200</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_10.jpg}" class="img-responsive" />
					<h4>刺子　バギーパンツ</h4>
					<p>¥39,960</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_11.jpg}" class="img-responsive" />
					<h4>ロゴベルト(Black× Gray)</h4>
					<p>¥7,560</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<img th:src="@{/image/mock/item_13.jpg}" class="img-responsive" />
					<h4>テンセルイージーパンツ(Purple)</h4>
					<p>¥30,240</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="#">&lt;&lt; First </a>
					<a href="#">&lt; Prev </a>
					<div class="btn-group">
						<a href="#" class="btn btn-default">1</a>
						<a href="#" class="btn btn-default">2</a>
						<a href="#" class="btn btn-default">3</a>
						<a href="#" class="btn btn-default">4</a>
						<a href="#" class="btn btn-default">5</a>
					</div>
					<a href="#"> Next &gt; </a>
					<a href="#"> Last &gt;&gt; </a>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout::footer-index"></div>
</body>
</html>