<!DOCTYPE html SYSTEM
		"http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ja">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/user/brand/search.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">TRIANGLE SAUCE</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-ex-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a th:href="@{/brands}">Brands</a>
					</li>
					<li>
						<a href="#">Categories</a>
					</li>
					<li>
						<a href="#">MyPage</a>
					</li>
					<li>
						<a th:href="@{/contact}">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li>
							<a th:href="@{/}">Home</a>
						</li>
						<li class="active">Brands</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-primary">ETHOSENS</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-primary">取り扱いブランド</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="media-list">
						<li class="media">
							<a class="pull-left" href="#"><img class="media-object" th:src="@{/image/brand/Brand_bsd.jpg}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.bedsidedrama}">bedsidedrama</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" th:href="@{/brands/describe/1}"><img class="media-object" th:src="@{/image/brand/Brand_ETHOSENS.jpg}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.ethosens}">ETHOSENS</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="#"><img class="media-object" th:src="@{/image/brand/Brand_ink.jpg}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.ink}">ink</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="#"><img class="media-object" th:src="@{/image/brand/Brand_Portaille.jpg}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.portaille}">Portaille</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="#"><img class="media-object" th:src="@{/image/brand/Brand_SEVESKIG.jpg}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.seveskig}">SEVESKIG</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="#"><img class="media-object" th:src="@{/image/brand/Brand_STOF.png}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.stof}">STOF</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="#"><img class="media-object" th:src="@{/image/brand/Brand_STORAMA.jpg}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.storama}">STORAMA</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="#"><img class="media-object" th:src="@{/image/brand/Brand_Ujoh.jpg}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.ujoh}">ujoh</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="#"><img class="media-object" th:src="@{/image/brand/Brand_votole.jpg}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.votole}">votole</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="#"><img class="media-object" th:src="@{/image/brand/Brand_YarnAndCopper.jpg}" height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="#{brand.name.yarnandcopper}">Yarn &amp; Copper</h4>
								<p>デザイナー</p>
							</div>
						</li>
						<li class="media">
							<div class="media-body">
								<h4 class="media-heading">OTHERS...</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout::footer-index"></div>
</body>
</html>