<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="top.css" rel="stylesheet" type="text/css">
    </head><body>
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">TRIANGLE SAUCE</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Brands</a>
                        </li>
                        <li>
                            <a href="#">Categories</a>
                        </li>
                        <li>
                            <a href="#">MyPage</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-primary">取り扱いブランド</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_bsd.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <br>bedsidedrama</h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_ETHOSENS.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">ETHOSENS</h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_ink.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">ink</h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_Portaille.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Portaille
                                        <br>
                                    </h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_SEVESKIG.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">SEVESKIG</h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_STOF.png" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">STOF</h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_STORAMA.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">STORAMA &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <br>
                                    </h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_Ujoh.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">ujoh</h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_votole.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">votole
                                        <br>
                                    </h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../画像/Brand_YarnAndCopper.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Yarn &amp; Copper</h4>
                                    <p>デザイナー</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">OTHERS...</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    

</body></html>