<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/user/contact/step1.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div th:replace="layout::header-contact"></div>
	<div th:replace="layout::bread-contact"></div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form" method="post" th:action="@{/contact?step=input}" th:object="${form}">
						<div th:if="${#fields.hasErrors()}" class="section">
							<div class="container">
								<div class="row">
									<div class="alert alert-danger" role="alert">
										<span>入力項目にエラーがあります。</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
							<div class="col-sm-2">
								<label class="control-label">メールアドレス</label>
							</div>
							<div class="col-sm-10">
								<input type="email" th:field="*{email}" class="form-control" placeholder="メールアドレス" />
								<p class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">エラーメッセージ</p>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('type')} ? has-error">
							<div class="col-sm-2">
								<label class="control-label">問い合わせ種別</label>
							</div>
							<div class="col-sm-10">
								<select th:field="*{type}">
									<option value=""></option>
									<option th:each="type : ${types}" th:text="#{|contact.field.type.${type}|}" th:value="${type}">お店について</option>
								</select>
								<p class="help-block" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">エラーメッセージ</p>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('content')} ? has-error">
							<div class="col-sm-2">
								<label class="control-label">内容</label>
							</div>
							<div class="col-sm-10">
								<textarea class="form-control" th:field="*{content}" placeholder="内容" rows="10"></textarea>
								<p class="help-block" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">エラーメッセージ</p>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">確認画面へ</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout::footer-index"></div>
</body>
</html>