<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/shop/guide.css}" rel="stylesheet" type="text/css"/>

	<title th:text="#{shop.guide.title}">ショッピングガイド</title>
</head>
<body>
	<div class="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
				        data-target="#navbar-ex-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">TRIANGLE SAUCE</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-ex-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a th:href="@{/brands}">Brands</a>
					</li>
					<li>
						<a href="#">Categories</a>
					</li>
					<li>
						<a href="#">MyPage</a>
					</li>
					<li>
						<a th:href="@{/contact}">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div>
						<h1 class="text-primary" th:text="#{shop.guide.title}">ショッピングガイド</h1>
					</div>
					<ul class="breadcrumb">
						<li>
							<a th:href="@{/}">Home</a>
						</li>
						<li class="active" th:text="#{shop.guide.title}">ショッピングガイド</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">会員登録について</h3>
						</div>
						<div class="panel-body">
							<ul>
								<li>登録がなくてもサイト上の商品情報等はご覧いただけますが、商品のご注文の際にはご登録が必要となります。</li>
								<li>年会費、登録料、更新料、維持費などの料金は一切かかりません。</li>
								<li>ご登録いただいたEメールアドレスがお客様IDとなります。お客様登録完了後、ご登録いただいたEメールアドレスへ当社より確認のＥメールを送信いたします。</li>
								<li>ご登録内容の変更は、「会員登録内容変更」にてお願いいたします。</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">ご注文方法について</h3>
						</div>
						<div class="panel-body">
							<h4>購入商品を選ぶ</h4>
							<ul>
								<li>ご希望の商品の詳細ページでカラー、サイズなど必要項目を選択し〔カートに入れる〕をクリックしてください。</li>
								<li>「CARTの中」ページにご注文商品が表示されます。</li>
								<li>他の商品を続けてご注文の場合は「CARTの中」＞「さらに商品を選ぶ」をクリックし、同様に希望の商品の詳細ページにて【カートに入れる】をクリックしてください。</li>
							</ul>
							<h4>ご注文商品を確認する</h4>
							<ul>
								<li>「CARTの中」ページでご注文商品をご確認の上、「ご購入手続きへ進む」をクリックしてください。</li>
								<li>カートから商品を削除したい場合は〔カートから削除マーク〕をクリックしてください。</li>
								<li>ご注文数量を変更する場合は（＋）または（-）で数量を選択してください。</li>
							</ul>
							<h4>お届け先の指定</h4>
							<ul>
								<li>ご登録のお届け先リストから配送先を選択し「選択したお届け先に送る」をクリックしてください。</li>
								<li>リストに登録されていないお届け先をご希望の場合は「新しいお届け先を追加」をクリックし新規作成してください。</li>
							</ul>
							<h4>お支払方法・お届け時間等の指定</h4>
							<ul>
								<li>「お支払方法・お届け時間等の指定」ページで、お支払方法・お届け時間等の指定を選択してください。</li>
								<li>「ポイント使用の設定」にて、ポイント使用の有無、ご使用になる場合の使用ポイント数を入力の上、確認を行い「次へ」をクリックしてください。</li>
							</ul>
							<h4>ご入力内容の確認</h4>
							<ul>
								<li>「ご入力内容の確認」ページで、お申込み商品、お届け先、お支払方法の最終確認をしてください。</li>
								<li>[ご注文完了]ボタンをクリックすると、お申込み手続き終了となります。</li>
							</ul>
							<h4>「ご注文完了」ページの表示とご注文確認のＥメール</h4>
							<ul>
								<li>「ご注文完了」後、「ご注文完了」ページが表示されます。</li>
								<li>ご注文完了後、ご登録のＥメールアドレスへ当社より注文確認の自動送信Ｅメールを送信いたします。確認のＥメールが届かない場合は、ご注文が正常に送信されていない可能性があります。</li>
								<li>マイページの「購入履歴一覧」でご注文内容をご確認することができます。</li>
								<li>ご不明の点はお手数ですが「お問い合わせ」ページまたはお電話にてお問い合わせください。</li>
								<li>お支払方法で「銀行振込」を選択した場合、自動送信Ｅメールの段階ではご注文成約とはなりませんのでご注意ください。ご入金が確認されました後、ご注文成約とさせて頂きますので予めご了承くださいませ。</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout::footer-index"></div>
</body>
</html>